<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Inventory cart form</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <h1>Inventory Cart</h1>

<form action="" th:object="${usages}" th:action="@{/cart/save}"
		method="POST" class="form-horizontal">
		<fieldset>
			<input type="hidden" th:field="*{cart.id}" />
		</fieldset>
		<fieldset>
			Customer: <select th:field="*{cart.customer.name}" >
			<option th:each="name:${customers}" th:value="${name}" th:text="${name}">
			</option>
			</select>
		</fieldset>
			<p th:if="${#fields.hasErrors('cart.customer.name')}" th:errors="*{cart.customer.name}"></p>
		<fieldset>
			Date: <input type="text" th:field="*{cart.date}" placeholder="yyyy-MM-dd" required>
		<p th:if="${#fields.hasErrors('cart.date')}" th:errors="*{cart.date}"></p>
		</fieldset>	
		<fieldset>
			user: <input type="text" th:field="*{cart.user.userName}" readonly>
		</fieldset>	
		
		
		<h2 th:if="${#lists.size(usages.usages)==0}"> Cart is Empty </h2>
		
		<!--div th:with="usagelist=${usages.usages}"-->
		<table th:unless="${#lists.size(usages.usages)==0}">
		<tr>
		<th>Product Id</th>
		<th>Product Name</th>
		<th>Usage Quantity</th>
		</tr>
		 
		<tr th:each="prod, itemStat:${usages.usages}">
		<td>
		<input type="text" th:name="|usages[${itemStat.index}].product.id|" th:value="${prod.getProduct().getId()}" readonly/>
		</td>
		<td>
		<input type="text" th:name="|usages[${itemStat.index}].product.productName|" th:value="${prod.getProduct().getProductName()}" readonly/>
		</td>
		<td>
		 <input type="number" th:name="|usages[${itemStat.index}].quantity|" th:value="${prod.getQuantity()}" min="0"/>
		</td>
		</tr>		
		 
		<!--
		 <tr th:each="prod:${usagelist}">
		 <td>
		 <fieldset>
		 <input type="text" th:field="${prod.product.id}" readonly>
		 </fieldset>
		 </td>
		 <td>
		 <fieldset>
		 <input type="text" th:field="${prod.product.productName}" readonly>
		 </fieldset>
		 </td>
		 <td>
		 <fieldset>
		 <input type="number" th:field="${prod.quantity}">
		 <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
		 </fieldset>
		 </td>		
		 </tr>
		 -->
		</table>
		<!--/div-->
		<fieldset>
			<button type="submit" th:unless="${#lists.size(usages.usages)==0}">Save to repair order</button>
		</fieldset>
	</form>

  
  
  <div th:replace="layout/layout.html :: footer"></div>

</body>
</html>