<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Catalogue Page</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <h1>Listing</h1>

  <form action="/catalogue/findByFilter"  method="post" style="float: left">
    <span>Product Name</span>
    <input type="text" name="productName" >
    <span>Supplier Name</span>
    <input type="text" name="supplierName" >
    <span>Brand Name</span>
    <input type="text" name="brandName" >
    <input class="btn btn-default" type="submit" value="filter">
  </form>

  <a th:if="${session.usession.role eq 'ADMIN'}" th:href="@{/catalogue/showform}" class="btn btn-primary btn-lg"  style="float: right" role="button">Add</a>

  <table  class="table table-bordered table-hover">
 <tr>
   <th>ID</th>
   <th>NAME</th>
   <th>DESCRIPTION</th>
   <th>SUPPLIER NAME</th>
   <th>SUPPLIER ADDRESS</th>
   <th>SUPPLIER PHONE</th>
   <th>SUPPLIER EMAIL</th>
   <th>BRAND</th>
   <th th:if="${session.usession.role eq 'ADMIN'}">Action</th>
 </tr>
 <tr th:each="product:${products}">
   <td th:text="${product.id}">ID</td> 
   <td th:text="${product.productName}">ID</td>
   <td th:text="${product.productDescription}">ID</td>
   <td th:text="${product.supplier.supplierName}">ID</td>
   <td th:text="${product.supplier.supplierAddress}">ID</td>
   <td th:text="${product.supplier.phone}">ID</td>
   <td th:text="${product.supplier.email}">ID</td>
   <td th:text="${product.brand.brandName}">ID</td>

   <td th:if="${session.usession.role eq 'ADMIN'}">
     <a th:href="@{/catalogue/edit/}+${product.id}">Edit </a>
     /
     <a th:href="@{/catalogue/delete/}+${product.id}">Delete </a>
   </td>

 </tr>
</table>
  <div>How many to show?</div>
  <a th:href="@{'/catalogue/findByFilter?size='+2+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}}">2</a>
  <a th:href="@{'/catalogue/findByFilter?size='+5+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}}">5</a>
  <a th:href="@{'/catalogue/findByFilter?size='+10+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}}">10</a>
  <nav aria-label="Page navigation">

    <ul  class="pagination">

      <li>
        <a th:if="${products.getNumber() ne 0}" th:href="@{'/catalogue/findByFilter?page='+${products.getNumber()-1}+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}+'&size='+${size}}"  aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>

        <a th:if="${products.getNumber() eq 0}" th:href="@{'/catalogue/findByFilter?page='+0+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}+'&size='+${size}}"  aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>


      <li th:unless="${pageCount eq -1}" class="pagination" th:each="i : ${#numbers.sequence(0, pageCount)}">
        <a th:href="@{'/catalogue/findByFilter?page='+${i}+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}+'&size='+${size}}" th:text="${i+1}"></a>

      </li>

      <li th:if="${pageCount eq -1}" class="pagination" >
        <a th:href="@{'/catalogue/findByFilter?page='+0+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}+'&size='+${size}}" th:utext="${1}" ></a>

      </li>

      <li>
        <a th:if="${products.getNumber() eq (pageCount)}" th:href="@{'/catalogue/findByFilter?page='+${products.getNumber()}+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}+'&size='+${size}}"   aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>

        <a th:if="${products.getNumber() ne (pageCount)}" th:href="@{'/catalogue/findByFilter?page='+${products.getNumber()+1}+'&productName='+${condition.productName}+'&supplierName='+${condition.supplierName}+'&brandName='+${condition.brandName}+'&size='+${size}}"   aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>


    </ul>
  </nav>


  <div th:replace="layout/layout.html :: footer"></div>
</body>
</html>