<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Customer List</title>
</head>
<body>

  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
   <h1>Customer Listing</h1>
     <a th:href="@{/customer/customerform}" class="btn btn-primary btn-lg"  style="float: right" role="button">Add Customer</a>

<table class="table table-bordered table-hover">
 <tr>
   <th>Customer Id</th>
   <th>Customer Name</th>
   <th>Mobile Number</th>
   <!-- <th>Repair Order List</th> -->
   <th>Action</th>
 </tr>
 <tr th:each="customer:${clist}">
	  
	<td th:text="${customer.customerId}">customerId</td>
	<td th:text="${customer.name}">name</td>
	<td th:text="${customer.mobile}">mobile</td> 
	<td>
		<a href="customeredit.html" th:href="@{/customer/edit/}+${customerid}">Edit </a>
		/
		<a href="customerdelete.html" th:href="@{/customer/delete/}+${customerid}">Delete </a>
	</td>
	
 </tr>
</table>



  <div th:replace="layout/layout.html :: footer"></div>
</body>
</html>