<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Inventory Page</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <h1>Inventory Listing</h1>
	<form  th:action="@{/inventory/search}" method="post" class="form-horizontal" style="float: left">
		<fieldset>
			Search: <input type="text" name="keyword" placeholder="search keyword here" required >
		</fieldset>
		<fieldset>
		<button type="submit" hidden=true></button>
		</fieldset>
	</form>

  <a th:href="@{/catalogue/showform}" class="btn btn-primary btn-lg"  style="float: right" role="button">Add</a>

  <table class="table table-bordered table-hover">
 <tr>
   <th>Inventory Id</th>
   <th>Product Name</th>
   <th>Quantity on hand</th>
   <th>Wholesale</th>
   <th>Price of retail</th>   
   <th>Price of partner</th>
   <th>Reorder level</th>
   <th>Actions</th>
 </tr>
 <tr th:each="inventory:${ilist}">
   <td th:text="${inventory.id}">ID</td>
   <td th:text="${inventory.product.productName}">ID</td>
   <td th:text="${inventory.qoh}">ID</td>
   <td th:text="${inventory.wholesale}">ID</td>
   <td th:text="${inventory.por}">ID</td>
   <td th:text="${inventory.pop}">ID</td>
   <td th:text="${inventory.rol}">ID</td>
   <td><a href="Editinventory.html"
		th:href="@{/inventory/edit/}+${inventory.id}">Edit /</a>
		<a href="Editinventory.html"
   		th:href="@{'/inventory/delete?productID='+${inventory.product.id}}">Delete /</a>
		<a href="Returninventory.html"
		th:href="@{/returned/showform/}">Return</a>
	</td>
  
 </tr>
</table>
  <div th:replace="layout/layout.html :: footer"></div>
</body>
</html>