<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	<div class="container">
		<h1>Inventory Form</h1>
	<form action="#" th:object="${inventory}" th:action="@{/inventory/save}"
		method="POST" class="form-horizontal" >
		<fieldset>
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{product.id}" />
		</fieldset>

		<div class="form-group">
			<label class="control-label col-sm-2" for="qoh">Quantity on hand:</label>
			<div class="col-sm-10">
				<fieldset>
					<input type="text" class="form-control" id="qoh" placeholder="Enter quantity" th:field="*{qoh}">
				</fieldset>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="rol">Reorder Level:</label>
			<div class="col-sm-10">
				<fieldset>
					<input type="text" class="form-control" id="rol" th:field="*{rol}">
				</fieldset>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="wholesale">Wholesale:</label>
			<div class="col-sm-10">
				<fieldset>
					<input type="text" class="form-control" id="wholesale" th:field="*{wholesale}">
				</fieldset>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="por">Price of retail:</label>
			<div class="col-sm-10">
				<fieldset>
					<input type="text" class="form-control" id="por" th:field="*{por}">
				</fieldset>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="pop">Price of partner:</label>
			<div class="col-sm-10">
				<fieldset>
					<input type="text" class="form-control" id="pop" th:field="*{pop}">
				</fieldset>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<fieldset>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
					<a th:href="@{/inventory/list}" type="submit" class="btn btn-default" style="float: left" >Back to Inventory</a>
					<button type="submit" class="btn btn-default" style="float: right" onclick="alert('Successfully Saved!')">Save</button>
				</fieldset>
			</div>
		</div>



	</form>
	</div>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>