<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mechanics Listing</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="layout/layout.html :: header"> </header>
	<div th:replace="layout/layout.html :: menu"></div>

	<h1>Mechanics Listing</h1>
	<!-- Add Hyperlink -->
	<a href="AddMechanic.html" th:href="@{/admin/addmechanic}"class="btn btn-primary btn-lg" role="button">Add Mechanic</a>

	<h2>Mechanic List</h2>
	<table  class="table table-bordered table-hover">
		<tr >
			<th >Mechanic Id</th>
			<th >User Name</th>
			<th >Password</th>
			<th >Edit Mechanic</th>
			<th >Delete Mechanic</th>   
		</tr>
		<tr th:each="mechanic:${mechanics}">
			<td th:text=${mechanic.id}>Id</td>
			<td th:text=${mechanic.userName}>Mechanic Name</td>
			<td th:text=${mechanic.password}>Password</td>
			<td><a href="EditMechanic.html"
				th:href="@{/admin/editmechanic/}+${mechanic.id}">Edit</a></td>
			<td><a href="DeleteMechanic.html"
				th:href="@{/admin/deletemechanic/}+${mechanic.id}">Delete</a></td>
		</tr>
	</table>
    <br/>
	<div th:replace="layout/layout.html :: footer"></div>
	
</body>
</html>