<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">  
<title>Products Listing</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="layout/layout.html :: header"> </header>
	<div th:replace="layout/layout.html :: menu"></div>

	<h1>Products Listing</h1>
	<!-- Add Hyperlink -->
	<a href="AddProduct.html" th:href="@{/admin/addproduct}" class="btn btn-primary btn-lg" role="button">Add Product</a>

	<h2>Product List</h2>
	<table  class="table table-bordered table-hover">
		<tr >
			<th >Product Id</th>
			<th >Product Name</th>
	    	<th >Product Description</th>
	    	<th >Product Type</th>
	    	<th >Product Category</th>
	    	<th >Product SubCategory</th>
			<th >Edit Product</th>
			<th >Delete Product</th>   
		</tr>
		<tr th:each=" product:${products}">
			<td th:text=${product.id}>Id</td>
			<td th:text=${product.productName}>Product Name</td>
			<td th:text=${product.productDescription}>Product Description</td>
			<td th:text=${product.productType}>Product Type</td>
			<td th:text=${product.productCategory}>Product Category</td>
			<td th:text=${product.productSubCategory}>product SubCategory</td>

			<td><a href="EditProduct.html"
				th:href="@{/admin/editproduct/}+${product.id}">Edit</a></td>
			<td><a href="DeleteProduct.html"
				th:href="@{/admin/deleteproduct/}+${product.id}">Delete</a></td>
		</tr>
	</table>
    <br/>
	<div th:replace="layout/layout.html :: footer"></div>
	
</body>
</html>