<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Record List</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <div>
	  <a href="RepairDetails.html"
		 th:href="@{/repair/showrecord}"
			  style="font-size: xxx-large">Record List ->
		  <span th:utext="${repairrecord.repairId}"></span>
		  </a>
  </div>

	<form action="" th:object="${filter}" th:action="@{/repair/detailsearch/}+${repairrecord.repairId}" method="post" class="form-horizontal" style="float: right">
		<fieldset>
			Search: <input type="text" th:field="*{keyword}" placeholder="search keyword here" required >
		</fieldset>
		<fieldset>
		<button type="submit" hidden=true></button>
		</fieldset>
	</form>


	<table class="table table-bordered table-hover">
		<tr>
			<th>Product Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Usage Amount</th>
			
			
		</tr>
		<tr th:each="prod:${productusage}">
			<td th:text="${prod.product.id}">ID</td>
			<td th:text="${prod.product.productName}">ID</td>
			<td th:text="${prod.product.productDescription}">ID</td>
			<td th:text="${prod.quantity}">ID</td>
		</tr>
	</table>
	
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>