<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Edit repair record form</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <div class="container">
	  <h1>Repair record form</h1>
<form action="" th:object="${repairrecord}" th:action="@{/repair/save}"
		method="POST" class="form-horizontal">

	<div class="form-group">
		<label class="control-label col-sm-2" for="qoh">RepairOrderID</label>
		<div class="col-sm-10">
			<fieldset>
				<input type="text" class="form-control" id="qoh" th:field="*{repairId}" readonly>
			</fieldset>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="sel1">Customer:</label>
		<div class="col-sm-10">
			<fieldset>
				<select class="form-control" id="sel1" th:field="*{customer.name}" >

					<option th:each="name:${Customer}" th:value="${name}" th:text="${name}">
					</option>
				</select>
			</fieldset>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-2" for="date">Date:</label>
		<div class="col-sm-10">
			<fieldset>
				<input type="text" class="form-control" id="date" placeholder="yyyy-MM-dd" required th:field="*{repairDate}">
				<p th:if="${#fields.hasErrors('repairDate')}" th:errors="*{repairDate}"></p>
			</fieldset>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<fieldset>
				<a th:href="@{/repair/showrecord}" type="submit" style="float: left" class="btn btn-default">Back to Record List</a>
				<button type="submit" class="btn btn-default" style="float: right">Save</button>
			</fieldset>
		</div>
	</div>

</form>
  </div>
  
  <div th:replace="layout/layout.html :: footer"></div>

</body>
</html>