<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Record List</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <h1>Record List</h1>

	<form action="" th:object="${filter}" th:action="@{/repair/filter}"
		method="post" class="form-horizontal">
		<span> StartDate: </span> 
		<input type="text" th:field="*{start}"
			placeholder="yyyy-MM-dd" required> 
		<span> EndDate: </span> 
		<input type="text" th:field="*{end}" placeholder="yyyy-MM-dd" required>
		<button type="submit">Filter</button>
	</form>

	<form action="" th:object="${filter}" th:action="@{/repair/search}" method="post" class="form-horizontal" style="float: right">
		<fieldset>
			Search: <input type="text" th:field="*{keyword}" placeholder="search keyword here" required >
		</fieldset>
		<fieldset>
		<button type="submit" hidden=true></button>
		</fieldset>
	</form>


	<table class="table table-bordered table-hover">
		<tr>
			<th>RepairOrderId</th>
			<th>Customer</th>
			<th>Date</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tr th:each="rep:${repairlist}">
			<td><a href="RepairDetails.html"
				th:href="@{/repair/showspecific/}+${rep.repairId}"><span th:utext="${rep.repairId}"></span></a></td>
			<td th:text="${rep.customer.name}">ID</td>
			<td th:text="${rep.repairDate}">ID</td>
			<td><a href="EditRepair.html"
				th:href="@{/repair/edit/}+${rep.repairId}">Edit</a></td>
			<td><a href="DeleteRepair.html"
				th:href="@{/repair/delete/}+${rep.repairId}">Delete</a></td>
		</tr>
	</table>
	
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>