<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

   <header th:insert="layout/layout.html :: header"></header>
   <div th:replace="layout/layout.html :: menu"></div>
   <h1>Returned form</h1>
   <form action="" th:object="${returned}" th:action="@{/returned/save}"
      method="POST" class="form-horizontal" >
      
      <fieldset>
         <input type="hidden" name="InventoryId" th:value="${InventoryId}"  />
         <input type="hidden" th:field="*{id}" />
         <input type="hidden" th:field="*{inventory.product.id}" />
      </fieldset>


      <div class="form-group">
         <label class="control-label col-sm-2" for="pro">Product:</label>
         <div class="col-sm-10">
            <fieldset>
               <input type="text" class="form-control" id="pro" th:field="*{inventory.product.productName}">
            	<p th:if="${#fields.hasErrors('inventory.product.productName')}" th:errors="*{inventory.product.productName}"></p>
            </fieldset>
         </div>
      </div>

      <div class="form-group">
         <label class="control-label col-sm-2" for="qt">Quantity:</label>
         <div class="col-sm-10">
            <fieldset>
               <input type="text" class="form-control" id="qt" th:field="*{qt}">
               <p th:if="${#fields.hasErrors('qt')}" th:errors="*{qt}"></p>
            </fieldset>
         </div>
      </div>

      <div class="form-group">
         <label class="control-label col-sm-2" for="reason">Reason:</label>
         <div class="col-sm-10">
            <fieldset>
               <input type="text" class="form-control" id="reason" th:field="*{reason}">
               <p th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></p>
            </fieldset>
         </div>
      </div>


      <div class="form-group">
         <label class="control-label col-sm-2">Supplier:</label>
         <div class="col-sm-10">
            <fieldset>
               <input type="text" class="form-control" name="supplierName" th:value="${name}">
               <p th:if="${#values.hasErrors('name')}" th:errors="*{name}"></p>
            </fieldset>
         </div>
      </div>

      <div class="form-group">
         <div class="col-sm-offset-2 col-sm-10">
            <fieldset>
               <button type="submit" class="btn btn-default">Save</button>
            </fieldset>
         </div>
      </div>
   </form>
   <div th:replace="layout/layout.html :: footer"></div>
</body>
</html>