<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
	    // Hide the row initially.
	    tr[i].style.display = "none";

	    td = tr[i].getElementsByTagName("td");
	    for (var j = 0; j < td.length; j++) {
	      cell = tr[i].getElementsByTagName("td")[j];
	      if (cell) {
	        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
	          tr[i].style.display = "";
	          break;
	        } 
	      }
	    }
	}
}
</script>
<title>Returned Page</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <h1>Returned Listing</h1>
	<form  th:action="@{/inventory/search}" method="post" class="form-horizontal" style="float: left">
		<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for product.." title="Type in a name">
		<fieldset>
		<button type="submit" hidden=true></button>
		</fieldset>
	</form>

  <a th:href="@{/returned/showform}" class="btn btn-primary btn-lg"  style="float: right" role="button">Add</a>

  <table class="table table-bordered table-hover" id="myTable">
 <tr>
   <th>Returned Id</th>
   <th>Product Name</th>
   <th>Quantity</th>
   <th>Reason</th>
   <th>Supplier</th>   
   <th>Actions</th>
 </tr>
 <tr th:each="returned:${rlist}">
   <td th:text="${returned.id}">ID</td>
   <td th:text="${returned.product.productName}">ID</td>
   <td th:text="${returned.qt}">ID</td>
   <td th:text="${returned.reason}">ID</td>
   <td th:text="${returned.supplier.supplierName}">ID</td>
   <td><a href="Editreturned.html"
		th:href="@{/returned/edit/}+${returned.id}">Edit /</a>
		<a href="Editreturned.html"
   		th:href="@{/returned/delete/}+${returned.id}">Delete </a>
	</td>
  
 </tr>
</table>
  <div th:replace="layout/layout.html :: footer"></div>
</body>
</html>