<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Suppliers Listing</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<header th:insert="layout/layout.html :: header"> </header>
	<div th:replace="layout/layout.html :: menu"></div>

	<div>
		<a style="font-size: xxx-large">Suppliers Listing</a>
		<a th:href="@{/admin/addsupplier}" class="btn btn-primary btn-lg"
		   style=" margin-right: 15px; margin-bottom: 20px; width: 50px ;height: 50px; border-radius: 50%; font-size: 25px; "
		   role="button" th:if="${session.usession.role eq 'ADMIN'}">+</a>
	</div>
	<!-- Add Hyperlink -->

	<table class="table table-bordered table-hover">
		<tr >
			<th >SUPPLIER ID</th>
			<th >SUPPLIER NAME</th>
			<th >SUPPLIER ADDRESS</th>
			<th >SUPPLIER PHONE</th>
			<th >SUPPLIER EMAIL</th>
		    <th >SUPPLIER MOQ</th>
			<th th:if="${session.usession.role eq 'ADMIN'}">ACTIONS</th>
		</tr>
		<tr th:each=" supplier:${suppliers}">
			<td th:text=${supplier.id}>Id</td>
			<td th:text=${supplier.supplierName}>Supplier Name</td>
			<td th:text=${supplier.supplierAddress}>Supplier Address</td>
			<td th:text=${supplier.phone}>Supplier Phone</td>
			<td th:text=${supplier.email}>Supplier Email</td>
			<td th:text=${supplier.MOQ}>Supplier Mini.Order.Quantity</td>
			<td th:if="${session.usession.role eq 'ADMIN'}" ><a href="EditSupplier.html"
				th:href="@{/admin/editsupplier/}+${supplier.id}">Edit</a>
				/
			<a href="DeleteSupplier.html"
				th:href="@{/admin/deletesupplier/}+${supplier.id}">Delete</a></td>
		</tr>
	</table>
 <br/>
	<div th:replace="layout/layout.html :: footer"></div>
	
</body>
</html>