<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Users Listing</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header th:insert="layout/layout.html :: header"> </header>
	<div th:replace="layout/layout.html :: menu"></div>

	<div>
		<a style="font-size: xxx-large">Users Listing</a>
		<a th:href="@{/admin/adduser}" class="btn btn-primary btn-lg"
		   style=" margin-right: 15px; margin-bottom: 20px; width: 50px ;height: 50px; border-radius: 50%; font-size: 25px; "
		   role="button" th:if="${session.usession.role eq 'ADMIN'}">+</a>
	</div>
	<!-- Add Hyperlink -->

	
	<table class="table table-bordered table-hover">
		<tr >
		
			<th >USER ID</th>
			<th >USER NAME</th>
			<th >ROLE TYPE</th>
			<th >EMAIL</th>
			<th th:if="${session.usession.role eq 'ADMIN'}" >ACTIONS</th>

			
		</tr>
		<tr th:each=" user:${users}">
			<td th:text=${user.id}>Id</td>
			<td th:text=${user.userName}>User Name</td>
			<td th:text=${user.role}>User RoleType</td>
			<td th:text=${user.email}>Email</td>
			<td th:if="${session.usession.role eq 'ADMIN'}"><a href="EditUser.html"
				th:href="@{/admin/edituser/}+${user.id}">Edit</a>
				/
				<a href="DeleteUser.html"
				th:href="@{/admin/deleteuser/}+${user.id}">Delete</a></td>
		</tr>
	</table>
	
 <br/>
	<div th:replace="layout/layout.html :: footer"></div>
	
</body>
</html>